---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Introduction from '../sections/Introduction.astro';
import Technologies from '../sections/Technologies.astro';
import Projects from '../sections/Projects.astro';
import Experience from '../sections/Experience.astro';
import Contact from '../sections/Contact.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Portolio">
	<Header/>
	<main>
		<div class="max-w-6xl px-10 pt-40 mx-auto">
			<Introduction/>
			<Experience/>
			<!-- <TODO Technologies/> -->
			<!-- <Projects/> -->
			<Contact/>
		</div>
	</main>
	<Footer/>
</Layout>
